<% layout('/layouts/boilerplate') %>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/navbar.css">

    <body>
    <div class="container">
        <h1>Skill Enhancement Platform</h1>
        <form action="/skills/new">
            <button><i class="fas fa-plus-circle"></i> New Course</button>
        </form>
        <div class="mt-4">
            <% for(skill of skills) { %>
                <div class="skill-card">
                    <h3><%= skill.name %></h3>
                    <p><%= skill.description %></p>
                    <form action="/skills/<%= skill.id %>" method="get">
                        <button>Show Details</button>
                    </form>
                </div>
            <% } %>
        </div>
    </div>
</body>
